* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    color: white;
    overflow: hidden;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #352f5b;
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
}

input {
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
}


.tasks {
    width: 70%;
    height: 50%;
}

.tasks-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background: #423a6f;
    color: #fff;
}

.tasks-item .left{
    width: 80%;
}


.tasks-item .rigth{
    width: 20%;
}

i{
    margin-left: 5px;
    margin-right: 5px;
}